[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"jinja2" = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-login = "*"
flask-bcrypt = "*"
pillow = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.7"
