[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
"jinja2" = "*"
flask-wtf = "*"
flask-sqlalchemy = "*"
flask-mail = "*"
flask-login = "*"
flask-bcrypt = "*"
pillow = "*"
flask-migrate = "*"
flask-restful = "*"
flask-marshmallow = "*"
marshmallow-sqlalchemy = "*"
psycopg2 = "*"
apispec = {extras = ["yaml"],version = "*"}
apispec-webframeworks = "*"

[dev-packages]

[requires]
python_version = "3.7"
