{% extends "layout.html" %}
{% block content %}
    <h1>About Page 2</h1>
    <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta lobortis mi, ac convallis nibh accumsan at. Vivamus venenatis nibh tortor, accumsan tempor mi congue eu. Cras imperdiet ac nisi aliquam vestibulum. Donec efficitur urna nec consequat viverra. Integer rhoncus orci in erat vehicula, in hendrerit dui interdum. Nunc auctor tempor scelerisque. Quisque hendrerit risus ut interdum cursus. Suspendisse ex odio, dignissim id dignissim at, bibendum vel ex. Proin eu molestie lorem, vitae faucibus ante. Mauris viverra odio dictum nisi posuere, vel tempor dolor rutrum. Nam lobortis dapibus enim. Ut nec felis at nulla congue facilisis.
    </p>
    <p>
    Cras efficitur, lacus eu faucibus ornare, risus ex tempor mi, a suscipit tellus ex in mi. Maecenas aliquam, est vitae porttitor feugiat, ex arcu dictum libero, posuere fringilla nunc neque id dui. Duis sagittis lorem sed quam accumsan molestie. Suspendisse auctor justo et nibh dictum ultrices sed ac ligula. Maecenas pretium mauris vitae justo rhoncus, nec gravida libero cursus. Vivamus fringilla risus in feugiat fermentum. Mauris dictum est vel leo vestibulum blandit. Aenean at turpis vitae nulla consequat porta. Phasellus nec justo volutpat, pharetra dolor a, finibus magna. Quisque et augue id dolor accumsan elementum sit amet in libero.
    </p>
{% endblock content %}